body{
    background-color: rgb(243, 226, 204);
}
.form{
    max-width: 520px;
}

input{
    margin: 5px;
}

.container{
    min-width: 480px;
    min-height: 270px;
    max-width: 480px;
    max-height: 270px;
    align-items: center;
    justify-items: center;
    
}
.newDiv {
   border: 0px;
   margin: 0px;
   color:  rgb(243, 226, 204);
}